@font-face {
  font-family: "Gilroy ExtraBold";
  font-weight: normal;
  font-style: normal;

  src: url("/fonts/gilroyextrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Light";
  font-weight: normal;
  font-style: normal;

  src: url("/fonts/gilroylight-webfont.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;

  color: #464646;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;

  width: 260px;
  height: 40px;
  padding: 0;

  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #000;
  border: none;
  outline: none;
  background: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .wrapper {
  background: linear-gradient(#fff 40px, #f8e49f 40px, #f8e49f 41px, #f7e296 41px);
}

.logo-header a:hover,
.logo-footer a:hover {
  opacity: 0.6;
}

.logo-header a:active,
.logo-footer a:active {
  opacity: 0.3;
}

.search input {
  padding: 0;

  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;

  border: none;
  outline: none;
  background-color: transparent;
}

.search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input:hover::-webkit-input-placeholder,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search input:hover::-moz-placeholder:hover,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search input:hover:-moz-placeholder:hover,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search input:hover:-ms-input-placeholder,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-button {
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;

  cursor: pointer;
  text-align: center;

  border: 2px solid black;
  outline: none;
  background-color: transparent;
}

.search-button:hover,
.search-button:focus {
  color: #fff;
  background-color: #000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation ul,
.site-navigation ul {
  list-style: none;
}

.user-navigation a,
.site-navigation a {
  color: #000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a,
.dropdown-catalog-column a {
  line-height: 36px;
}

.sign-out a {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item > a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

.promo-slides {
  list-style: none;

  counter-reset: slideCounter;
}

.promo-slider .container {
  background: linear-gradient(#f7e296 113px,  #fff 113px);
}

.promo-slides-item::before {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;

  content: "0" counter(slideCounter);
  counter-increment: slideCounter;

  color: #000; /*Заменить на белый цвет*/
}

.promo-slogan {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;

  color: #000;
}

.promo-text {
  line-height: 30px;
}

.promo-slide-description table {
  border-spacing: 0 14px;
}

.promo-slide-description th {
  width: 160px;
  padding: 0;

  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.promo-slide-description th:nth-child(2) {
  width: 140px;
}

.promo-slide-description td {
  padding: 0;

  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;

  color: #000;
}

.promo-slide-description .button {
  width: 220px;
}

.categories-list li {
  list-style: none;
}

.categories-list a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;

  color: #000;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  background: linear-gradient(#fff 100px,  #e5e5e5 100px);
}

.services-slider-controls label {
  width: 160px;
}

.delivery-service-toggle:active + label,
.warranty-service-toggle:active + label,
.credit-service-toggle:active + label {
  color: #000;
}

.delivery-service-toggle:checked + label,
.warranty-service-toggle:checked + label,
.credit-service-toggle:checked + label {
  color: #f7e184;
  background: #000;
}

.services-slides {
  list-style: none;
}

.services-slides h3 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;

  color: #000;
}

.services-slides-item p {
  line-height: 30px;
}

.list-of-companies {
  list-style: none;
}

.company a {
  display: block;

  width: 260px;
  height: 100px;
}

.company:nth-child(1) a {
  background: url(../img/logo-dji.png);
}

.company:nth-child(2) a {
  background: url(../img/logo-spgadgets.png);
}

.company:nth-child(3) a {
  background: url(../img/logo-gopro.png);
}

.company:nth-child(4) a {
  background: url(../img/logo-vive.png);
}

.company a:hover {
  background-position: bottom;
}

.about-us .button,
.contacts .button {
  width: 260px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;

  color: #000;
}

.about-us p,
.contacts p {
  line-height: 30px;
  letter-spacing: 0;
}

.transport-companies {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;

  list-style: none;

  color: #000;
}

.main-footer {
  background-color: #464646;
}

.main-footer .user-navigation a,
.social-button,
.footer-copyright {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .site-navigation a {
  color: #fff;
}

.main-footer .user-navigation a:hover,
.main-footer .user-navigation a:focus {
  color: #fff;
}

.main-footer .site-navigation a:hover,
.main-footer .site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .user-navigation a:active,
.main-footer .site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.address,
.phone {
  line-height: 30px;
  letter-spacing: 0;

  color: #fff;
}

.feedback-item label {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;

  color: #000;
}


.feedback-item input,
.feedback-item textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.feedback-item input {
  width: 360px;
  height: 50px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  border: 3px solid #f7e296;
  background-color: #fff;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  border: none;
  background-color: #f6dada;
}

.feedback-item textarea {
  width: 760px;
  height: 156px;

  resize: none;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input:-moz-placeholder,
.feedback textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback input:hover::-webkit-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover::-moz-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover:hover:-moz-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.feedback input:hover:-ms-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.feedback .button {
  width: 200px;
}

/*------------------------------catalog.html------------------------------*/

.catalog-content {
  color: #000;
}

.catalog-content .button {
  width: 200px;
}

h1 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
}

.breadcrumbs {
  font-size: 14px;

  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  line-height: 36px;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter h2,
.sorting h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

.filter {
  background: #efefef;
}

.filter ul {
  list-style: none;
}

.filter-form fieldset,
.catalog-item h3 {
  border: 0;
}

.filter-form legend {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
}

.price-range label,
.price-range input {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22.27px;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.2);
}

.price-range input {
  border: 0;
  background-color: transparent;
}

.color-filter label,
.bluetooth-filter label {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.color-filter input:disabled + label,
.bluetooth-filter input:disabled + label {
  color: #a6a6a6;
}

.sorting .container {
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting ul {
  list-style: none;
}

.sorting-by a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-by a:hover,
.sorting-by a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-by a:active,
.current-sort a {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;

  color: #000;
}

.catalog-item-price {
  font-size: 16px;
}

.catalog-item-actions {
  cursor: pointer;

  background-color: rgba(238, 238, 238, 0.7);
}

.add-to-comparison {
  font-size: 13px;
  line-height: 36px;

  cursor: pointer;

  color: rgba(0, 0, 0, 0.5);
  border: 0;
  background-color: transparent;
}

.add-to-comparison:hover,
.add-to-comparison:focus {
  color: rgba(0, 0, 0, 1);
}

.add-to-comparison:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  list-style: none;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3em;

  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.previous-page a,
.next-page a,
.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}

.previous-page a:hover,
.previous-page a:focus,
.next-page a:hover,
.next-page a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous-page a:active,
.next-page a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/
